.Music {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .Music-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  #ytVideo {
    display: none;
  }
  #popover-basic {
    width: 300px;
    height: 380px;
  }
  
  .Player {
    background-color: #c8c8c8;
    border-radius: 30px;
    width: 170px;
    margin-left: 20px;
  }
  
  .Btn {
    cursor: pointer;
  }
  
  img {
    width: 50px;
    cursor: pointer;
    margin: auto;
  }
  
  #playBtn {
    margin-left: 10px;
  }
  
  .genreText {
    font-size: 16px;
  }
  
  .lb-wrap {
    width: 50%;
    margin: 10px auto;
    position: relative;
  }
  
  .lb-img {
    cursor: pointer;
  }
  
  .lb-wrap img {
    width: 95px;
    vertical-align: middle;
  }
  .lb-text {
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 60%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
  }
  