video {
    width:90%;
    height:auto;
    float: left;
    cursor: pointer;
    border-radius: 30px;
}

.Nickname {
    margin: 5px;
    font-family: "oldpicture";
    color: black;
    background: none;
    background-color: none;
    border-radius: 20px;
    position: absolute;
    padding: 5px;
    font-weight: bold;
    top: 95%;
}

.streamcomponent {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}