video {
    width:90%;
    /* height:300px; */
    float: left;
    cursor: pointer;
}

.Nickname {
    margin: 5px;
    font-family: "oldpicture";
    color: black;
    background: none;
    background-color: #FD7A99;
    border-radius: 20px;
    position: absolute;
    padding: 5px;
    font-weight: bold;
}

